.colorprincipal{
    background-color: #a7d3e8;
}
.btn-primary{
    background-color:  #f2f6f9;
    background-color: #2c5c84; 
}
.btn-primary:hover{
    background-color: #a7d3e8;
    border-color:  #2c5c84;
    
}
.fondo{
   background-image: url("./img/fondo\ 1.png");
   background-position: top center;
   padding: 25%;
   background-attachment: fixed; 
}
.fondo2{
   background-image: url("./img/fondo\ 2.png");
   background-position: top center;
   padding: 25%;
   background-attachment: fixed; 
}